* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: "Pixelify Sans", "Oswald", sans-serif;
  background-image: linear-gradient(to right bottom, black, blue);
  display: flex;
  flex-direction: column;
}

/* NAV BAR */
#nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  width: 100%;
  max-width: 70rem;
  height: 4rem;

  margin: 1rem auto;

  border: 2px solid white;
  background-color: black;
  text-align: center;
}

/* NAV ITEMS */
#nav-bar span {
  cursor: pointer;
  font-size: 1.25rem;
}

/* SIDEBAR */
#side-bar {
  width: 16rem;
  min-height: 100vh;

  border: 2px solid white;
  background-color: black;
}

/* MOBILE */
@media (max-width: 768px) {
  #nav-bar {
    flex-direction: column;
    height: auto;
    gap: 1rem;
  }

  #side-bar {
    width: 100%;
    min-height: auto;
  }
}
